.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para el pie de página (footer) general */
footer {
    display: flex;                /* Cambiamos a Flexbox para manejar la distribución */
    justify-content: space-between; /* Espaciamos los elementos al extremo izquierdo y derecho */
    align-items: center;          /* Alineamos verticalmente los elementos */
    padding: 10px 20px;           /* Add consistent padding */
    background-color: rgb(245,254,237);
  
}

/* Estilo para los elementos dentro del pie de página */
.footer-item {
    color: rgb(44,84,131);
    font-size: 2vh;
    font-family: "Sriracha", cursive;
    position: relative;
    left: 1vh;
    top: 2vh;
}

/* Estilo para los botones dentro del pie de página */
footer button {
    padding: 10px 20px;           /* Espacio interno dentro del botón (10px arriba/abajo, 20px a los lados) */
    color: rgb(44,84,131);
    border: none;                 /* Eliminamos los bordes predeterminados del botón */
    background-color: rgb(245,254,237); /* Color de fondo del botón */
    cursor: pointer;             /* Cambiamos el cursor a un puntero al pasar por encima del botón */
    font-size: 3vh;           /* Tamaño de fuente del texto dentro del botón */
    font-family: "Sriracha", cursive;
}

/* Estilo para cuando el cursor pasa sobre el botón (hover) */
footer button:hover {
    background-color: rgb(44,84,131);  /* Cambia el fondo a un gris más oscuro cuando el usuario pasa el cursor por encima */
    color:  rgb(230,245,251);
    transition: background-color 0.3s ease;  /* Transición suave del color de fondo en 0.3 segundos */
}
