/* Establece el grid general para la página */
.admin-tools-grid {
    display: grid;                         /* Utiliza Grid Layout para definir el diseño de la página */
    grid-template-rows: auto 1fr auto;     /* Tres filas: header, contenido principal, footer */
    grid-template-columns: 250px 1fr;      /* Dos columnas: aside (250px) y main (resto del espacio) */
    grid-template-areas: 
      "header header"                      /* El header ocupa toda la primera fila */
      "aside agregar"                      /* El aside ocupa la primera columna y el main la segunda */
      "footer footer";                     /* El footer ocupa toda la tercera fila */
    width: 100%;
    height: 100vh;                         /* Asegura que la altura ocupe toda la ventana */
    
}

/* Estilo para el contenedor del Header */
.header-container {
    grid-area: header;                     /* Asigna este contenedor al área "header" */
}

/* Estilo para el contenedor del Aside */
.aside-container {
    grid-area: aside;                      /* Asigna este contenedor al área "aside" */
}

/* Estilo para el contenedor de Agregar Producto */
.agregar {
    grid-area: agregar;                    /* Asigna este contenedor al área "main" */
}

/* Estilo para el contenedor del Footer */
.footer-container {
    grid-area: footer;                    /* Asigna este contenedor al área "footer" */
}
